{% extends 'base.html.twig' %} {% block body %} <main class="index-wrapper">
    <aside>
        <div class="aside-wrapper">
            <div class="profile">
                <a href="{{ path('user_profile', {'id': app.user.id }) }}">
                    <img class="profile-picture" src="{{ asset('img/avatar-placeholder.png') }}" width="75" height="75" alt="">
                </a>
                <h3>
                    <a href="{{ path('user_profile', {'id': app.user.id }) }}">{{ app.user.DisplayName }}</a>
                </h3>
            </div>
            <div class="following-list">
                <h4> Following </h4>
                <div class="following-element"> No following </div>
            </div>
        </div>
    </aside>
    <div class="feed-view">
        <section class="filters">
            <button class="button-selected">Following posts</button>
            <button class="">All posts</button>
            <select name="order-by" id="order-by">
                <option value="date-new">Date posted | Newest</option>
                <option value="date-old">Date posted | Oldest</option>
                <option value="popularity">Most popular</option>
            </select>
        </section>
        <section class="posts"> {% for post in listPosts %} {{ include('blog/_article.html.twig', { 'post': post, 'hideUser': false }) }} {% else %} <article>
                <p>No ad found</p>
            </article> {% endfor %} </section>
    </div>
</main> {% endblock %}