{% extends 'base.html.twig' %} {% block body %} <main class="index-wrapper">
    <aside>
        <div class="aside-wrapper">
            <div class="profile">
                <a href="{{ path('user_profile', {'id': app.user.id }) }}">
                    <img class="profile-picture" src="{{ asset('img/avatar-placeholder.png') }}" width="75" height="75" alt="">
                </a>
                <h3>
                    <a href="{{ path('user_profile', {'id': app.user.id }) }}">{{ app.user.DisplayName }}</a>
                </h3>
            </div>
            <div class="following-list">
                <h4> Following </h4> {% for follower in app.user.followers %} <button class="following-element follower-button" value="{{follower.id}}"> {{follower.DisplayName}} </button> {% else %} <div class="following-element"> No following </div> {% endfor %} </button>
            </div>
    </aside>
    <div class="feed-view">
        <section class="filters">
            <button class="follower-button filter-following button-selected" value="0">Following posts</button>
            <button class="follower-button filter-all-posts" value="-1">All posts</button>
            <select name="order-by" id="order-by">
                <option value="date-new">Date posted | Newest</option>
                <option value="date-old">Date posted | Oldest</option>
                <option value="popularity">Most popular</option>
            </select>
        </section>
        <section class="posts">{{ include('blog/_articles.html.twig', { 'listPosts': listPosts }) }}</section>
    </div>
</main> {% endblock %} {% block javascript %}
<script src="{{ asset('script/load-posts.js') }}"></script> {% endblock %}