{% extends 'base.html.twig' %}

{% block body %}

<aside>
</aside>

<section id="filters">

</section>

<section id="posts">
    <h2>Posts</h2>

    {% for post in listPosts %}
        <article>
            <h3>
                <a href="{{ path('blog_post', {'id': post.id}) }}">{{ post.Title }}</a>
            </h3>
            <p id="post_content">
                {{ post.Content | nl2br }}
            </p>
            <div id="post_information">
                <i>
                    {{ post.DatePosted | date('Y-m-d H:m') }}
                </i>
                <p>{{ post.User.DisplayName }}</p>
            </div>
        <article>
    {% else %}
        <article>
            <p>No ad found</p>
        </article>
    {% endfor %}
</section>
{% endblock %}