{% extends "base.html.twig" %} {% block body %} <main class="single-post-wrapper">
    {{ include('blog/_article.html.twig', { 'post': post, 'hideUser': true }) }}
    <aside>
        <div class="aside-wrapper">
            <div class="profile">
                <a href="{{ path('user_profile', {'id': post.user.id }) }}">
                    <img class="profile-picture" src="{{ asset('img/avatar-placeholder.png') }}" width="75" height="75" alt="">
                </a>
                <a href="{{ path('user_profile', {'id': post.user.id }) }}">
                    <h3>{{ post.user.DisplayName }}</h3>
                </a>
            </div>
        </div>
    </aside>
</main> {% endblock %}