<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}A community Blog!{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}"> {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <div class="page-wrapper">
            <header>
                <a href="{{ path('blog_index') }}">community Blog</a>
                <nav>
                    <ul>
                        <li><a href="{{ path('blog_index') }}">Home</a></li> {% if is_granted('IS_AUTHENTICATED_FULLY') %} <li><a href="{{ path('user_profile', {'id': app.user.id }) }}">Profile</a></li>
                        <li class="split-li"></li>
                        <li><a href="{{ path('blog_add') }}">Create a post</a></li>
                        <li><a href="{{ path('user_logout') }}">Logout</a></li> {% else %} <li><a href="{{ path('user_login') }}">Login</a></li> {% endif %}
                    </ul>
                </nav>
            </header> {% block body %}{% endblock %} <footer>
                <h1><span>CB</span></h1>
                <section class="footer-links">
                    <ul>
                        <li><a href="{{ path('blog_index') }}">Home</a></li>
                        <li><a href="https://github.com/marcelvigneault1420/Symfony4-Blog/blob/master/README.md">About this website</a></li>
                        <li><a href="https://github.com/marcelvigneault1420/Symfony4-Blog">Github repository</a></li>
                    </ul>
                </section>
                <section class="footer-about">
                    <ul class="footer-social">
                        <li><a href="https://github.com/marcelvigneault1420" target="_blank"><img class="footer-icon" src="{{ asset('img/github-icon.png') }}" width="32" height="32" alt=""></a></li>
                        <li><a href="mailto:marcel.vigneault.1420@gmail.com" target="_blank"><img class="footer-icon" src="{{ asset('img/email-icon.png') }}" width="32" height="32" alt=""></a></li>
                        <li><a href="https://www.linkedin.com/in/charles-vigneault-5641908a/" target="_blank"><img class="footer-icon" src="{{ asset('img/linkedin-icon.png') }}" width="32" height="32" alt=""></a></li>
                    </ul>
                    <p>© 2019 Marcel Vigneault</p>
                </section>
            </footer>
        </div> {% block javascripts %}{% endblock %}
    </body>

</html>