<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}A community Blog!{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}"> {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <div class="page-wrapper">
            <header>
                <a href="{{ path('blog_index') }}">community Blog</a>
                <nav>
                    <ul> {% if is_granted('IS_AUTHENTICATED_FULLY') %} <li><a href="{{ path('user_profile', {'id': app.user.id }) }}">Profile</a></li>
                        <li class="split-li">
                            <form action="{{ path('user_list') }}" class="search-form" method="GET">
                                <input name="search-bar-field" type="text" placeholder="Search"><button type="submit"><i>&#9906;</i></button>
                            </form>
                        </li>
                        <li><a href="{{ path('blog_add') }}">Post</a></li>
                        <li><a href="{{ path('user_logout') }}">Logout</a></li> {% else %} {% if (app.request.pathinfo == '/login') %} <li><a href="{{ path('register_user') }}">Register</a></li> {% else %} <li><a href="{{ path('login') }}">Login</a></li> {% endif %} {% endif %}
                    </ul>
                </nav>
            </header> {% block body %}{% endblock %} <footer>
                <h1><span>CB</span></h1>
                <section class="footer-links">
                    <ul>
                        <li><a href="{{ path('blog_index') }}">Home</a></li>
                        <li><a href="https://github.com/marcelvigneault1420/Symfony4-Blog/blob/master/README.md">About this website</a></li>
                        <li><a href="https://github.com/marcelvigneault1420/Symfony4-Blog">Github repository</a></li>
                    </ul>
                </section>
                <section class="footer-about">
                    <ul class="footer-social">
                        <li><a href="https://github.com/marcelvigneault1420" target="_blank"><img class="footer-icon" src="{{ asset('img/github-icon.png') }}" width="32" height="32" alt=""></a></li>
                        <li><a href="mailto:marcel.vigneault.1420@gmail.com" target="_blank"><img class="footer-icon" src="{{ asset('img/email-icon.png') }}" width="32" height="32" alt=""></a></li>
                        <li><a href="https://www.linkedin.com/in/charles-vigneault-5641908a/" target="_blank"><img class="footer-icon" src="{{ asset('img/linkedin-icon.png') }}" width="32" height="32" alt=""></a></li>
                    </ul>
                    <p>© 2019 Marcel Vigneault</p>
                </section>
            </footer>
        </div>
        <script src="{{ asset('script/main.js') }}"></script> {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <script>
            let followButtons = document.querySelectorAll('.follow-button');

            followButtons.forEach((btn) => {
                btn.addEventListener('click', ({ currentTarget: button }) => {
                    const idUser = button.value;

                    fetch("{{ path('user_follow') }}", {
                        headers: { 'Content-Type': 'application/json; charset=utf-8' },
                        method: 'POST',
                        body: JSON.stringify({
                            idFollow: idUser,
                        }),
                    })
                        .then((resp) => {
                            if (resp.status == 200) {
                                resp.json().then((isFollow) => {
                                    let anim = button.animate([
                                        { transform: 'translateZ(0) rotateX(0deg)' },
                                        { transform: 'translateZ(200px) rotateX(-90deg)' },
                                    ], {
                                            duration: 500,
                                            iterations: 1,
                                            direction: 'alternate',
                                            fill: 'forwards',
                                        });

                                    anim.onfinish = () => {
                                        if (isFollow) {
                                            button.innerHTML = 'Unfollow';
                                        } else {
                                            button.innerHTML = 'Follow';
                                        }

                                        button.animate([
                                            { transform: 'translateZ(200px) rotateX(90deg)' },
                                            { transform: 'translateZ(0) rotateX(0deg)' },
                                        ],
                                            {
                                                duration: 500,
                                                iterations: 1,
                                                direction: 'alternate',
                                                fill: 'forwards',
                                            });
                                    };
                                });
                            } else {
                                resp.json().then((errorLog) => {
                                    console.log(errorLog);
                                });
                            }
                        })
                });
            });
        </script> {% endif %} {% block javascripts %}{% endblock %}
    </body>

</html>