{% extends 'base.html.twig' %} {% block title %}Hello UserController!{% endblock %} {% block body %} <main class="user-search">
    <h1><span class="search-title">Search:</span> <span class="search-text">{{ searchText }}</span> </h1> {% for user in userList %} <div class="profile">
        <a href="{{ path('user_profile', {'id': user.id }) }}">
            <img class="profile-picture" src="{{ asset('img/avatar-placeholder.png') }}" width="110" height="110" alt="">
        </a>
        <div class="profile-info">
            <a href="{{ path('user_profile', {'id': user.id }) }}">{{ user.DisplayName }}</a>
            <p>{{ user.email }}</p>
        </div>
    </div> {% endfor %}
</main> {% endblock %}